.container {
    max-width: 1000px;
    padding-right: 0;
    padding-left: 0;
  }

  .currentuser{
    background: #bdbdbd;
  }
  .remoteuser{
    background: rgb(169, 168, 168);
  }
  .videocontainer {
    position: relative;
    margin-bottom: 1rem;
  }

  .videocontainer video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
  }

  .videocontainer video.currentuser {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #ccc;
    z-index: 1;
  }

  .videocontainer:hover video.currentuser {
    z-index: 2;
  }

  .videocontainer video.remoteuser {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: none;
    z-index: 0;
  }

  .videocontainer:hover video.remoteuser {
    z-index: 1;
  }

  .controls {
    display: none;
    position: absolute;
    background-color:transparent;
    border-radius: 5px;
    z-index: 3;
    bottom: 0;
    left:0;
    right: 0;
    padding-bottom: 10px;
  }


  .videocontainer:hover .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .controls button{
    background: none;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 20px;
    color: white;
  }
  .endcall{
    background: red !important;
    border: none !important;
  }
